env/
venv/
__pycache__/
*.pyc
db.sqlite3
.zip
*.log
1.00-thu-5-13-26.zip

5.14.26-psql.server.zip
student_code.5.14.26.zip
trier.txt
myenv/

Recording 2026-05-22 135538.mp4
search.readme
login.readme
erp.readme
PG local.session.zip
RECENT_ACTIVITIES_README.md
frontend (2).zip